@if (TempData["success"] != null)
{

    <div class="alert alert-info my-4" role="alert">
        @TempData["success"]
</div>

}



@if (TempData["error"] != null)
{

    <div class="alert alert-info  my-4" role="alert">
        @TempData["error"]
</div>

}



